@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("woff2");
    font-display: swap;
}


/*основные */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*голова */
header {

    width: auto;
    height: 72px;
    padding: 16px 72px;
    background-color: black;
}

.container__page-heder {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-logo {
    transition: fill 0.3s;

}

.header-logo:hover {
    transform: scale(1.1);
}


/*подвал */
footer {
    width: auto;
    height: 120px;
    background-color: black;
}

.page-footer {
    padding: 20px 0;
}

.container-page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 72px;
}

.footer-logo {
    flex: 1;
    transition: fill 0.3s;

}

.footer-logo :hover {
    transform: scale(1.1);
}

.p-footer {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    color: #f9f9f9;
    flex: 2;
}

.a-footer {
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #f9f9f9;
}

.a-footer:hover {
    color: yellow;
}

.footer-social {
    flex: 1;

}

.footer-social-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-social-item {
    margin-left: 8px;

}

.img-footer {
    transition: fill 0.3s;
}

.img-footer:hover {
    transform: scale(1.1);
}





/*слайдер   */

.slider {
    width: 1296px;
    height: 434px;
    position: relative;
    margin: 30px;
    overflow: hidden;

}

.slides {
    display: flex;
    transition: transform 0.5s ease;

}

.slide {
    min-width: 100%;
    position: relative;
}

.text {
    width: 606px;
    height: 215px;
    gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    padding: 10px;
}

.prev,
.next {
    cursor: pointer;

    top: 50%;
    transform: translateY(-50%);
    color: red;
    background-color: bisque;
    font-size: 18px;
}

.prev {
    left: 10px;

}

.next {
    right: 10px;

}

.indicator {
    text-align: center;
    padding-top: 10px;

}

.dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: white;

    border-radius: 50%;

}

.dot.active {
    background-color: rebeccapurple;

}

/*сылки  */

.advantages-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 124%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;

}

.links {
    display: flex;
    justify-content: center;


}

.link {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(205, 205, 205, 1);
    margin: 10px;
    text-decoration: none;
    border-bottom: 2px solid rgba(205, 205, 205, 1);
    padding-bottom: 4px;
}

.link.active {
    color: rgba(251, 190, 3, 1);
    border-bottom: 2px solid rgba(251, 190, 3, 1);
}




/*текст под сылкой */
.benefits {
    padding: 20px;
}

.benefits-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.benefit-item {
    border-radius: 5px;
    padding: 15px;
    margin-right: 15px;
    flex: 1;
}

.benefit-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-number {
    font-family: Inter;
    font-weight: 500;
    font-size: 64px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 8px;

}

.benefit-text {
    text-align: center;
}

.benefit-title {

    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 8px;

}

.benefit-description {

    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(128, 128, 128, 1);
    font-size: 14px;

}

/*форма  */

.contact-form {
    width: 636px;
    height: auto;
    border-radius: 12px;
    padding: 24px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.form-group {
    margin-bottom: 24px;

}

.form-group label {
    display: block;

    margin-bottom: 8px;

}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 16px);

    padding: 8px;

    border-radius: 4px;

    border: 1px solid #ccc;

}

button {
    width: 588px;
    height: 46px;
    gap: 10px;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 48px;
    padding-bottom: 12px;
    padding-left: 48px;
    background-color: black;
    border: none;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;


}

button:hover {
    background-color: gray;

}

/* текст с  лева  */
.container-page {
    display: flex;
    /* Используем Flexbox для выравнивания */
    justify-content: space-between;
    /* Распределяем элементы по краям */
    align-items: flex-start;
    /* Выравниваем элементы по верхнему краю */
    max-width: 1200px;
    /* Максимальная ширина контейнера */
    margin: 0 auto;
    /* Центрируем контейнер */
    padding: 20px;
    /* Отступы внутри контейнера */
}

.help-message {
    font-family: "Inter";
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.text-message {
    font-family: "Inter";
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.promo-message {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;

}


.container-text {
    flex: 1;
    /* Текст занимает одну часть пространства */
    margin-right: 20px;
    /* Отступ между текстом и формой */
}

.contact-form {
    flex: 1;
    /* Форма занимает одну часть пространства */
}