
/*основные */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
header{
   background-color: black;

}
footer{
   background-color: black;
}
/*форма  */
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
select, input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
input[type="submit"] {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
/*слайдер   */
.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

.indicator {
    text-align: center;
    margin-top: 10px;
}

.indicator span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.indicator span.active {
    background-color: gray;
}